<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gameboy Serial number
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gameboy Serial number</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Gameboy Serial number page"></app-explore-container>
  <div class = "list">
    <label class = "item item-input">
       <input type = "text" placeholder = "Insert Gameboy serial number" />
    </label>
    <p><ion-button color="success">Find</ion-button></p>
  </div>
</ion-content>
